.container{
    max-width: 1000px;
    padding: 30px;
}

h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.texto{
    padding: 30px;
    font-size: 25px;
}

.tit{
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
}
#button{
    width: 450px;
    text-align: center;
    
}
#but{
    padding-left: 155px;
    padding-top: 35px;
}
#criar{
    font-size: 20px;
}
#espaco{
    padding-top: 50px;
}